.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #551b54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 5s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
  transition: all 2s;
}
@keyframes movebtn {
  0% {
    background-color: #002bff;
    transform: translateY(0px);
  }
  25% {
    background-color: #7a00ff;
    transform: translateY(10px);
  }
  50% {
    background-color: #00ffd5;
    transform: translateY(0px);
  }
  75% {
    background-color: #48ff00;
    transform: translateY(-10px);
  }
  100% {
    background-color: #fffb00;
    transform: translateY(0px);
  }
}
